<div class="row">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-4 shadow-sm h-100">

      <div class="image position-relative">
        <img src="{{ product.pictureUrl }}" class="img-fluid" routerLink="/shop/{{ product.id }}" />
        <div class="d-flex justify-content-center align-items-center hover-overlay">
          <button (click)="addProductToBasket(product)" type="button" class="btn btn-sm btn-primary fa fa-shopping-cart mr-2"></button>
          <button type="button" class="btn btn-sm btn-primary" routerLink="/shop/{{ product.id }}">
            View
          </button>
        </div>
      </div>

      <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{ product.id }}">
          <h6 class="text-uppercase">{{ product.name }}</h6>
        </a>
        <span>{{ product.price | currency }}</span>
      </div>

    </div>
  </div>
</div>
