/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~bootswatch/dist/united/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~ngx-toastr/toastr.css';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';


.xng-breadcrumb-root{
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail{
  margin-bottom: 0;
  color: orange;
}

.xng-breadcrumb-separator{
  padding: 0 0;
}

