<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <app-input-field formControlName="displayName" [label]="'Display Name'"></app-input-field>
      <app-input-field formControlName="email" [label]="'Email Address'"></app-input-field>
      <app-input-field formControlName="password" [type]="'password'" [label]="'Password'"></app-input-field>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
