<div class="d-flex justify-content-center mt-5">
<div class="col-3">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-label-group">
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</div>
