<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm justify-content-between">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <img src="./../../../assets/images/logo.png" height="60px" alt="logo">
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark">Home</a>
    <a class="p-2 text-dark">Shoping</a>
    <a class="p-2 text-dark">Contact</a>
  </nav>
  <div class="mr-sm-2">
    <a class="btn btn-outline-secondary mr-sm-1">Login</a>
    <a class="btn btn-outline-secondary">SignUp</a>
  </div>
</div>
