<div class="container row m-3">

  <section class="col-md-3">
    <app-product-filter [brands]="brands" [types]="types" (brandChanged)="OnBrandSelected($event)"
      (typeChanged)="OnTypeSelected($event)" (sortChanged)="OnSortSelected($event)">
    </app-product-filter>
  </section>

  <section class="col-md-9">

    <div class="d-flex justify-content-between align-items-center pb-2">
      <header>
        <span>Showing <strong>6</strong> of <strong>12</strong> Result</span>
      </header>
      <div class="form-inline mt-2">
        <input (keyup.enter)="OnSearch()" #search class="form-control mr-2" style="width: 300px;" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 mr-2" (click)="OnSearch()">Search</button>
        <button class="btn btn-outline-success my-2" (click)="OnReset()">Reset</button>
      </div>
    </div>

    <app-products-list [products]="products"></app-products-list>

    <div class="justify-content-center" *ngIf="pageination.count>pageination.pageSize">
      <pagination
      [boundaryLinks]="true"
      [totalItems]="pageination.count"
      [itemsPerPage]="6"
      (pageChanged)="OnPageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      ></pagination>
    </div>
  </section>

</div>
