<div class="d-flex flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm justify-content-between fixed">

  <img src="/assets/images/logo.png" height="60px" alt="skinet-logo" routerLink="/">

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
    <a class="p-2" routerLink="/test-error">Error-Test</a>
  </nav>

  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5" style="color: black;"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary mr-1">Login</a>
    <a class="btn btn-outline-secondary">SignUp</a>
  </div>

</div>
